name: HACS (Plugin)

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm

      - run: npm ci
      - run: npm run build
      - run: cp dist/bring-shopping-card.js bring-shopping-card.js

      - uses: hacs/action@main
        with:
          category: plugin

